<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find Danus</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/164fead0d2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Poppins';
            color: #2F281E;
        }
        body h3, h5 {
            font-weight: 700;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <b><a th:href="@{/home}" class="navbar-brand">FindDanus</a></b>
        <div class="form-inline">
            <a th:href="@{/home}">
                <button class="btn btn-success">Back</button>
            </a>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="d-flex flex-column">
            <h3 class="align-self-center mb-4">Chat List</h3>
            <div class="row justify-content-center">
                <ul class="list-group col-8">
                    <div th:each="chat: ${chats}">
                        <li class="list-group-item d-flex justify-content-center mb-1">
                            <div class="col-6">
                                <h5 th:text="${chat.seller.name}"></h5>
                                <div class="d-flex flex-row attribute align-items-center mb-2">
                                    <i class="fas fa-envelope"></i>
                                    <p class="mb-0 ml-2" th:text="${chat.seller.email}"></p>
                                </div>
                                <div class="d-flex flex-row attribute align-items-center mb-2">
                                    <i class="fas fa-house-user"></i>
                                    <p class="mb-0 ml-2" th:text="${chat.seller.location}"></p>
                                </div>
                            </div>
                            <div class="align-self-center justify-content-start">
                                <a class="btn btn-outline-success" th:href="@{/chat/{chatId}(chatId=${chat.id})}" role="button">
                                    <div class="d-flex flex-row align-items-center justify-content-center">
                                        <i class="fas fa-comments"></i>
                                        <p class="mb-0 ml-2">Chat</p>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>