<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find Danus</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Poppins';
        }

        body h4 {
            font-weight: 700;
            margin-bottom: 15px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <b><a th:href="@{/seller/home}" class="navbar-brand">FindDanus</a></b>
        <div class="form-inline">
            <a th:href="@{/profile}">
                <button class="btn btn-success">Back</button>
            </a>
        </div>
    </nav>

    <div class="container d-inline-block mx-5 my-4 float-left" style="width: 40%;">
        <h4>Edit Profile</h4>
        <form th:action="@{/edit}" th:method="post">
            <input type="hidden" name="seeker_id" th:value="${seeker.getId()}">
            <div class="form-group">
                <label for="name">Name:</label>
                <input class="form-control" type="text" name="name" id="name" th:value="${seeker.getName()}" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input class="form-control" type="email" name="email" id="email" th:value="${seeker.getEmail()}" required>
            </div>
            <div class="form-group">
                <label for="location">Location:</label>
                <input class="form-control" type="text" name="location" id="location" th:value="${seeker.getLocation()}"
                       required>
            </div>
            <div class="form-group">
                <label for="phoneNum">Phone Number:</label>
                <input class="form-control" type="number" name="phoneNum" id="phoneNum" th:value="${seeker.getPhoneNum()}"
                       required>
            </div>
            <div class="form-group">
                <label for="passwordConfirm">Password Confirmation:</label>
                <input class="form-control" type="password" name="passwordConfirm" id="passwordConfirm" required>
            </div>
            <button class="btn btn-outline-success" type="submit" id="editProfileBtn">Save</button>
        </form>
    </div>

    <div class="container d-inline-block ml-3 my-4" style="width: 40%;">
        <h4>Change Password</h4>
        <form th:action="@{/editPass}" th:method="post">
            <input type="hidden" name="seeker_id" th:value="${seeker.getId()}">
            <div class="form-group">
                <label for="oldPassword">Old Password:</label>
                <input class="form-control" type="password" name="oldPassword" id="oldPassword" required>
            </div>
            <div class="form-group">
                <label for="newPassword">New Password:</label>
                <input class="form-control" type="password" name="newPassword" id="newPassword" required>
            </div>
            <div class="form-group">
                <label for="confirmNewPassword">New Password Confirmation:</label>
                <input class="form-control" type="password" name="confirmNewPassword" id="confirmNewPassword" required>
            </div>
            <button class="btn btn-outline-success" type="submit">Change</button>
        </form>
    </div>
</body>

</html>