<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find Danus</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <b><a th:href="@{/seller/home}" class="navbar-brand">FindDanus</a></b>
    <div class="form-inline">
        <a th:href="@{/seller/home}">
            <button class="btn btn-outline-success">Back</button>
        </a>
    </div>
</nav>
<div class="container">
    <h4 class="my-4" style="text-align: center;">Chat List</h4>
    <ul style="list-style-type: none;">
        <div th:each="chat: ${chats}" class="card">
            <li>
                <div class="card-body d-flex flex-row">
                    <div class="d-flex flex-column mx-auto">
                        <h4 th:text="${chat.seeker.name}"></h4>
                        <p th:text="${chat.seeker.email}"></p>
                    </div>
                    <a th:href="@{/seller/chat/{chatId}(chatId=${chat.id})}">
                        <button class="btn btn-outline-success">Chat</button>
                    </a>
                </div>
            </li>
        </div>
    </ul>
</div>
</body>
</html>