<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find Danus</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <b><a th:href="@{/seller/home}" class="navbar-brand">FindDanus</a></b>
    <div class="form-inline">
        <a th:href="@{/seller/home}">
            <button class="btn btn-success">Back</button>
        </a>
    </div>
</nav>
<div class="container" th:if="${seller != null}">
    <h4 th:text="${seller.getName() + ' followers'}" class="my-2" style="text-align: center;"></h4>
    <ul style="list-style-type: none;">
        <div th:each="seeker: ${seekers}" class="card float-left mr-5 my-3" style="width: 18rem;">
            <img class="card-img-top" th:src="@{/img/profile.png}" alt="Card image cap">
            <li>
                <div class="card-body">
                    <h4 th:text="${seeker.name}"></h4>
                    <div class="d-flex flex-row">
                        <img th:src="@{/img/email.png}" alt="Email" style="width: 25px; height: 25px;" class="mr-1">
                        <p th:text="${seeker.email}"></p>
                    </div>
                    <div class="d-flex flex-row">
                        <img th:src="@{/img/location.png}" alt="Location" style="width: 25px; height: 25px;" class="mr-1">
                        <p th:text="${seeker.location}"></p>
                    </div>
                    <a th:href="@{/preview/{id}(id=${seeker.getId()})}">
                        <button class="btn btn-outline-success">View Profile</button>
                    </a>
                </div>
            </li>
        </div>
    </ul>
</div>
<div th:unless="${seller != null}">
    <h1>Seller not found.</h1>
</div>
</body>
</html>