<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find Danus</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <b><a th:href="@{/seller/home}" class="navbar-brand">FindDanus</a></b>
    <div class="form-inline">
        <a th:href="@{/seller/chats}" class="mr-3">
            <button class="btn btn-success">Chats</button>
        </a>
        <a th:href="@{/logout}">
            <button class="btn btn-light">Logout</button>
        </a>
    </div>
</nav>
<br><br>
<div class="container" th:if="${seller != null}">
    <div class="d-flex">
        <div class="d-inline-block">
            <img th:src="@{/img/profile.png}" alt="Profile Picture" width="300px" class="rounded img-fluid">
        </div>
        <div class="d-inline-block ml-5">
            <h3 th:text="${seller.name}"></h3>
            <div class="d-flex flex-row">
                <img th:src="@{/img/email.png}" alt="Email" style="width: 25px; height: 25px;" class="mr-1">
                <p th:text="${seller.email}"></p>
            </div>
            <div class="d-flex flex-row">
                <img th:src="@{/img/location.png}" alt="Location" style="width: 25px; height: 25px;" class="mr-1">
                <p th:text="${seller.location}"></p>
            </div>
            <div class="d-flex flex-row">
                <img th:src="@{/img/phone.png}" alt="PhoneNum" style="width: 25px; height: 25px;" class="mr-1">
                <p th:text="${seller.phoneNum}"></p>
            </div>
            <b><p style="display: inline;">Followers: </p></b>
            <a th:href="@{/seller/followers}"
               th:text="${seekers}">
            </a>
            <br><br>
            <div class="form-inline">
                <a th:href="@{/seller/edit}" class="mr-3">
                    <button class="btn btn-outline-success">Edit Profile</button>
                </a>
                <a th:href="@{/seller/addProduct}">
                    <button class="btn btn-outline-success">Add Product</button>
                </a>
            </div>
        </div>
    </div>
    <div class="container my-5">
        <ul style="list-style-type: none;">
            <div th:each="product: ${products}" class="card float-left mr-5 my-3" style="width: 18rem;">
                <div class="card-body">
                    <li>
                        <h5 th:text="${product.title}"></h5>
                        <p th:text="${product.description}"></p>
                        <b><p th:text="${product.price}"></p></b>
                        <a th:href="@{/seller/removeProduct/{pid}(pid=${product.id})}">
                            <button class="btn btn-outline-success">Remove</button>
                        </a>
                    </li>
                </div>
            </div>
        </ul>
    </div>
</div>
<div th:unless="${seller != null}">
    <h1>Seller not found.</h1>
</div>
</body>
</html>