<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find Danus</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Poppins';
        }

        body h4 {
            font-weight: 700;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <b><a th:href="@{/seller/home}" class="navbar-brand">FindDanus</a></b>
    <div class="form-inline">
        <a th:href="@{/seller/chats}">
            <button class="btn btn-outline-success">Back</button>
        </a>
    </div>
</nav>
<br><br>

<div style="text-align: center">
    <h4 th:text="'Seller chat room for Seeker ' + ${chat.seeker.name} + ' and Seller ' + ${chat.seller.name}"></h4>
</div>
<div style="text-align: center">
    <form th:action="@{/seller/chat/send}" th:method="post">
        <input type="hidden" name="seller_id" th:value="${chat.seller.id}">
<!--        <input type="hidden" name="seeker_id" value="-1">-->
        <input type="hidden" name="chat_id" th:value="${chat.id}">
        <input type="text" name="message" required>
        <button>Send</button>
    </form>
</div>
<div class="mx-auto" style="width: 50%" th:each="message: ${chat.getMessageList()}">
    <div style="color: blue"th:if="${message.seller != null}">
        <h4>You:</h4>
        <h4 th:text="${message.content}"></h4>
    </div>
    <div style="text-align: right; color: red;" th:unless="${message.seller != null}">
        <h4 th:text="${message.seeker.name} + ':'"></h4>
        <h4 th:text="${message.content}"></h4>
    </div>
</div>
</body>
</html>