<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find Danus</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style>
    	.container {
    		padding-left: 30px;
    	}

    	.d-flex {
    		background-image: linear-gradient(to right, #d896ff 80%, #fff);
    		color: #333;
    	}

    	.info {
    		color: #660066;
    		padding: 50px 30px;
    	}
    </style>
</head>
<body>
    <div class="row h-100">
        <div class="d-flex align-items-center min-vh-100">
            <div class="container">
                <h1><b>Find Danus</b></h1>
                <h3>Website is under development . . .</h3>
            </div>
        </div>
    <div class="info">
        <h2><b>Currently accessible URL for demo:</b></h2>
        <ul>
            <li>
                <a th:href="@{/register}"><h4>/register</h4></a>
            </li>
            <li>
                <a th:href="@{/login}"><h4>/login</h4></a>
            </li>
        </ul>
        <br>
        <br>
        <h4><b>Best Regards,</b></h4>
        <h5>Find Danus Team</h5>
    </div>
</body>
</html>