<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find Danus</title>
    <link rel="stylesheet" th:href="@{css/register.css}">
</head>
<body>
<h1>Register</h1>
<form th:action="@{/register}" th:method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" required>
    <br>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required>
    <br>
    <label for="location">Location:</label>
    <input type="text" name="location" id="location" required>
    <br>
    <label for="phoneNum">Phone Number:</label>
    <input type="number" name="phoneNum" id="phoneNum" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <br>
    <label for="passwordConfirm">Password Confirmation:</label>
    <input type="password" name="passwordConfirm" id="passwordConfirm" required>
    <br>
    <select name="type">
        <option value="seeker" name="seeker">Seeker</option>
        <option value="seller" name="seller">Seller</option>
    </select>
    <button type="submit">Register</button>
</form>
<a th:href="@{/login}">
    <button>Login</button>
</a>
</body>
</html>