<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find Danus</title>
    <link rel="stylesheet" th:href="@{css/seeker.css}">
</head>
<body>
    <h1>Seeker</h1>
</body>
</html>