<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find Danus</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/164fead0d2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Poppins';
            color: #2F281E;
        }

        body h2, h5 {
            font-weight: 700;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-light bg-light">
    <b><a th:href="@{/home}" class="navbar-brand">FindDanus</a></b>
    <div class="form-inline">
        <a th:href="@{/profile}">
            <button class="btn btn-outline-success">Back</button>
        </a>
    </div>
</nav>

<div th:if="${ seekerFollowing != null}">
    <div class="container mt-5">
        <div class="d-flex flex-column">
            <h2 class="align-self-center mb-4"
                th:text="${'Showing ' + seekerFollowing.size() + ' followed sellers '}">
            </h2>
            <div class="row justify-content-center">
                <ul class="list-group col-8">
                    <div th:each="seller: ${seekerFollowing}">
                        <li class="list-group-item d-flex justify-content-center mb-1">
                            <div class="col-6">
                                <div class="d-flex flex-row attribute align-items-center mb-2">
                                    <h5 class="mb-0" th:text="${seller.name}"></h5>
                                </div>
                                <div class="d-flex flex-row attribute align-items-center mb-2">
                                    <i class="fas fa-house-user"></i>
                                    <p class="mb-0 ml-2" th:text="${seller.location}"></p>
                                </div>
                                <div class="d-flex flex-row attribute align-items-center mb-2">
                                    <i class="fas fa-envelope"></i>
                                    <p class="mb-0 ml-2" th:text="${seller.email}"></p>
                                </div>
                                <div class="d-flex flex-row attribute align-items-center mb-2">
                                    <i class="fas fa-phone-alt"></i>
                                    <p class="mb-0 ml-2" th:text="${seller.phoneNum}"></p>
                                </div>
                            </div>
                            <div class="align-self-center justify-content-start">
                                <a class="btn btn-outline-success" th:href="@{/seller/preview/{id}(id=${seller.getId()})}" role="button">
                                    <div class="d-flex flex-row align-items-center justify-content-center">
                                        <i class="fas fa-user-alt"></i>
                                        <p class="mb-0 ml-2">Profile</p>
                                    </div>
                                </a>
                                <a class="btn btn-outline-danger" th:href="@{/unfollow/{idSeller}(idSeller=${seller.getId()})}" role="button">
                                    <div class="d-flex flex-row align-items-center justify-content-center">
                                        <i class="fas fa-user-times"></i>
                                        <p class="mb-0 ml-2">Unfollow</p>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>

</html>