<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find Danus</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<style>
    body {
        background-color: #f5f5f5;
    }

    .btn-outline-success {
        padding: 15px 40px 15px 40px;
        font-size: 16px;
        font-weight: bold;
    }

    .btn-outline-secondary {
        padding: 15px 30.5px 15px 30.5px;
        font-size: 16px;
        font-weight: bold;
    }

    .landing-sec h1 {
        font-family: "Poppins";
        font-weight: 700;
        color: #2f281e;
    }

    .landing-sec p {
        font-family: "Poppins";
        font-weight: 400;
    }
</style>
<body>
<nav class="navbar navbar-dark bg-dark">
    <b><a th:href="@{/}" class="navbar-brand">FindDanus</a></b>
</nav>
<section class="landing-sec mt-5">
    <div class="container">
        <div class="row">
            <div class="col align-self-center">
                <h1 class="mb-4">
                    Empower your organization's finance
                </h1>
                <p class="mb-4">
                    The place where seekers and sellers meet each others.
                </p>
                <a th:href="@{/login}" class="btn btn-outline-success mr-2" role="button">Login</a>
                <a th:href="@{/register}" class="btn btn-sm btn-outline-secondary" role="button">Register</a>
            </div>
            <div class="col d-none d-sm-block">
                <img width="600" th:src="@{/img/landing-illustration.png}"/>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function(){
        $.ajax({ url: "https://finddanus-service-user.herokuapp.com/",
            context: document.body,
            success: function(){
                console.log("ping user");
        }});
    });
</script>
</body>
</html>