<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find Danus</title>
    <link rel="stylesheet" th:href="@{css/seller.css}">
</head>
<body>
<h1>Seller</h1>
<ul>
    <div th:each="seller: ${sellers}">
        <li>
            <h1 th:text="${seller.name}"></h1>
            <h3 th:text="${seller.email}"></h3>
            <h3 th:text="${seller.location}"></h3>
            <h3 th:text="${seller.phoneNum}"></h3>
        </li>
    </div>
</ul>
</body>
</html>